$ga     : #aaa;
$gb     : #bbb;
$gc     : #ccc;
$gd     : #ddd;
$ge     : #eee;
$gf     : #fff;

$g0     : #000;
$g3     : #333;
$g6     : #666;
$g9     : #999;

$g40    : #404040;

$g69    : #696969;
$ae     : #aeaeae;
$cd     : #cdcdcd;
$d2     : #d2d2d2;

$e2     : #e2e2e2;
$e4     : #e4e4e4;
$e6     : #e6e6e6;
$e8     : #e8e8e8;

$f1     : #f1f1f1;
$f2     : #f2f2f2;
$f8     : #f8f8f8;
$f9     : #f9f9f9;
$fe     : #fefefe;

$main-blue      :   #1f8ae9;
$aid-blue       :   #1881df;
$dark-blue      :   #0d77d5;

$main-black     :   #23262f;
$main-navy      :   #393d49;
$deep-black     :   #4b4f5b;
$main-gray      :   $ge;

$main-warn      :   #f7ba2a;
$aid-warn       :   #efb01c;
$dark-warn      :   #e5a714;

$main-success   :   #7aad3e;
$aid-success    :   #70a433;
$dark-success   :   #66972d;

$main-danger    :   #e93535;
$aid-danger     :   #df2626;
$dark-danger    :   #d41e1e;

$main-drop      :   $f2;

$bd-button      :   $cd;
$bd-form        :   $e6;

$text-paragraph :   $g40;
$text-header    :   $cd;
$text-form      :   $e8;
$text-disabled  :   $ae;