@import 'var';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}

.flex-box{
    display: flex;
    justify-content: space-between;
}
html,body,.layout-page{
    height: 100%;
}

.body,
.layout-page {
    background: #eee;
}

.layout-page {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    padding-top: 1.2rem;
    .top-nav {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #e1e1e1;
    }
    .layout-content{
        max-width: 540px;
        height: 100%;
        margin: 0 auto;
    }
}

.btn{
    display: inline-block;
    width: px2rem(106px);
    height: px2rem(52px);
    text-align: center;
    line-height: px2rem(50px);
    border-radius: 2px;
    &.btn-outline{
        border: solid 1px #7f7f7f;
    }
    &.btn-normal{
        border: solid 1px transparent;
    }
}

.abs{
    position: absolute;
}

.rel{
    position: relative;
}



.layout-title {
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 1.5em;
    .title-left{
        position: absolute;
        z-index: 1000;
        left: 0;
        top: 0;
        display: block;
        font-size: 1.11em;
        color: #999;
        background: url('../images/icon_back.png') center center no-repeat;
        background-size: .5rem;
        transform: rotateZ(180deg);
    }
    .title-back{
        display: inline-block;
        width: 1.33333rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    .title-content{
        font-weight: bold;
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 auto;
        color: #333a49;
    }
}